form.form.user-form.form-horizontal(name="userForm")
  .title
      h2 {{user.username}}
      cmf-autosave-status(status="autosave")
  .form-group
    label.control-label {{'USER.FULLNAME' | translate}}
    .controls
      input.input-half.first(type="text", name="firstname", ng-model="user.firstname", placeholder="{{'USER.FIRSTNAME' | translate}}")
      input.input-half.last(type="text", name="lastname", ng-model="user.lastname", placeholder="{{'USER.LASTNAME' | translate}}")
  .form-group
    label.control-label {{'USER.DISPLAYNAME' | translate}}
    .controls
      input(type="text", name="displayname", ng-model="user.displayname", placeholder="{{'USER.DISPLAYNAME' | translate}}")
      span.help-block {{'USER.DISPLAYNAMEHELP' | translate}}
  .form-group
    label.control-label.col-lg-2 {{'GLOBAL.EMAIL' | translate}}
    .controls.col-lg-10.email
      input.input-half.first(type="email", name="email", ng-model="email")
      button.input-quarter.last.btn.btn-default(ng-click="sendVerifyEmail()", ng-disabled="email == user.email") {{'USER.VERIFYBUTTON' | translate}}
      input.input-quarter.first(type="text", name="emailverificationcode",
        ng-model="emailverificationcode",
        placeholder="{{'USER.VERIFYCODEPLACEHOLDER' | translate}}",
        ng-show="verificationemailsent")
      button.input-quarter.last.btn.btn-default(ng-click="performVerifyEmail()",
        ng-show="verificationemailsent",
        ng-disabled="!emailverificationcode") {{'USER.UPDATEBUTTON' | translate}}
      span.help-block.clearfix {{'USER.EMAILHELP' | translate }}
      .alert.alert-info(ng-show="verificationemailsent") {{'USER.EMAILVERIFYHELP' | translate: {email: email} }}
      .alert.alert-danger(ng-show="verifyFail") {{'USER.EMAILVERIFICATIONFAIL' | translate}}
      .alert.alert-success(ng-show="verifySuccess") {{'USER.EMAILVERIFICATIONSUCCESS' | translate}}

  .form-group
    label.control-label {{'GLOBAL.USERNAME' | translate}}
    .controls
      input(type="text", name="username", ng-model="username", ng-pattern="usernamePattern", placeholder="{{'GLOBAL.USERNAME' | translate}}")
      span.help-block {{'USER.USERNAMEHELP' | translate}}
      .confirm(ng-show="username != user.username && userForm.username.$valid")
        button.btn.btn-danger(ng-click="user.username = username") {{'USER.CONFIRMUSERNAMECHANGE' | translate}}
        span.help-block {{'USER.CONFIRMUSERNAMECHANGEMESSAGE' | translate}}
      .alert.alert-danger(ng-show="!userForm.username.$valid") {{'USER.USERNAMEHELP' | translate}}
  .form-group.password
    label.control-label {{'GLOBAL.PASSWORD' | translate}}
    .controls
      input(type="password", name="password", ng-model="password", placeholder="{{'GLOBAL.PASSWORD' | translate}}")
      input(type="password", name="password2", ng-model="password2", placeholder="{{'USER.PASSWORDREPEAT' | translate}}")
      div.updatepasswordbutton
        button.btn.btn-default.updatepassword(ng-click="updatePassword()") {{'USER.UPDATEPASSWORDBUTTON' | translate}}
        .help-block {{'USER.PASSWORDDESC' | translate}}
      .alert(ng-class="passwordInfo.status && 'alert-success' || 'alert-danger'", ng-show="passwordInfo.message") {{passwordInfo.message}}

  .form-group(ng-show="showAdminFields")
    label.control-label {{'GLOBAL.LANGUAGE' | translate}}
    .controls
      select(ng-model="user.language")
        option(ng-repeat="(name, language) in languages", value="{{name}}", ng-selected="name == user.language || language.default") {{language.name}}
      span.help-block {{'USER.LANGUAGEHELP' | translate}}
  .form-group(ng-show="showAdminFields")
    label.control-label {{'USER.ROLES' | translate}}
    .controls
      select(ng-model="user.roles", multiple="true", ng-disabled="!user.removable")
        option(ng-repeat="(name, role) in roles", value="{{name}}", ng-selected="hasRole(name)") {{role.label}}
      span.help-block {{'USER.ROLESHELP' | translate}}
  .form-group(ng-show="showAdminFields")
    label.control-label {{'USER.ACTIVE' | translate}}
    .controls
      label.checkbox
        input(type="checkbox", name="active", ng-model="user.active")
  author-picker(author="user.author")
