form.form.user-add-form(ng-submit="saveUser()", name="userForm")
  .title
      h2 {{'USER.ADDTITLE' | translate}}
  .form-group()
    label.control-label {{'GLOBAL.USERNAME' | translate}}
    .controls
      input(type="text", name="name", ng-model="user.username")
  .form-group
    label.control-label {{'GLOBAL.EMAIL' | translate}}
    .controls
      input(type="email", name="email", ng-model="user.email")
  .form-group
    label.control-label {{'GLOBAL.PASSWORD' | translate}}
    .controls
      .password-wrapper.first
        input(type="password",
          name="password",
          placeholder="{{'GLOBAL.PASSWORD' | translate}}", 
          ng-model="user.password")
      .password-wrapper.last
        input(type="password",
          name="password2",
          placeholder="{{'USER.PASSWORDREPEAT' | translate}}",
          ng-model="password2")
  .form-group
    label.control-label {{'USER.ACTIVE' | translate}}
    .controls
      label.checkbox
        input(type="checkbox", name="active", ng-model="user.active")
  .form-actions
    input.btn.btn-primary(type="submit", value="{{'USER.CREATE' | translate}}")