.wrapper
  .main-content
    .list.box.pad
      form.form-inline.add-article(ng-submit="newTarget()")
        .form-group
          input.form-control(type="text", name="target", ng-model="targetName", placeholder="{{ 'TARGET.ADDNEW' | translate }}")
        button.btn.btn-default.add-article
          i.icon-plus
      .targets
        a.row-item(
          ng-repeat="item in targets",
          ng-href="#/settings/targets/{{item._id}}",
          ng-class="{ active: item._id == target._id}") {{item.name}}
    .main-full(ng-show="target")
      .main
        .box.pad
          button.btn.btn-danger.pull-right(ng-click="removeTarget(target)")
            i.icon-remove
            span {{'GLOBAL.REMOVE' | translate}}
          h1 {{title}}
          cmf-autosave-status(status="autosave")
          form.form.form-horizontal(ng-submit="saveTarget()", name="mapForm")
            .form-group
              label.control-label {{ 'GLOBAL.NAME' | translate }}
              .controls
                input(type="text", name="name", ng-model="target.name")
            .form-group
              label.control-label {{ 'GLOBAL.DESCRIPTION' | translate }}
              .controls
                textarea.input-block-level(name="target_desc", placeholder="{{ 'TARGET.TARGETDESC' | translate}}",
                  ng-model="target.description")
            .form-group
              label.control-label {{ 'TARGET.PAIN' | translate }}
              .controls
                textarea.input-block-level(ng-model="target.pain")
            .form-group
              label.control-label {{ 'TARGET.GAIN' | translate }}
              .controls
                textarea.input-block-level(ng-model="target.gain")
          form.form.form-horizontal(ng-repeat="(name, mood) in moods")
            .form-group
              label.control-label {{ mood | translate }}
              .controls
                cmf-input-list(ng-model="target.analysis[name]")

        form.form.form(name="newstrategy", ng-submit="saveTarget()")
          .step.box.pad(ng-repeat="step in steps")
            h3 {{step.name}}
            .form-horizontal
              .form-group
                label.control-label {{ "TARGET.LOOKINGFOR" | translate }}
                .controls
                  textarea.input-block-level(ng-model="target.steps[step._id].description")
              .topics(ng-repeat="topic in target.steps[step._id].topics")
                .form-group
                  label.control-label {{ "TARGET.SUBJECTNAME" | translate }}
                  .controls
                    input(ng-model="topic.name", type="text",
                      placeholder="{{ 'TARGET.SUBJECTNAME' | translate}}", required)
                .form-group
                  label.control-label {{ 'GLOBAL.DESCRIPTION' | translate }}
                  .controls
                    textarea(ng-model="topic.description")
            h4 Nytt ämne
            .form-horizontal
              .form-group
                label.control-label Ämne
                .controls
                  input(type="text", ng-model="newTopics[step._id].name",
                    placeholder="{{ 'TARGET.SUBJECTNAME' | translate}}")
              .form-group
                label.control-label {{ "GLOBAL.DESCRIPTION" | translate }}
                .controls
                  textarea(ng-model="newTopics[step._id].description",
                    placeholder=" {{ 'GLOBAL.DESCRIPTION' | translate }}")
              .form-actions
               button.btn.btn-primary(ng-click="addTopic(target.steps[step._id], step._id)")
                 i.icon-plus
                   span {{"GLOBAL.APPEND" | translate}}
      .additional
        .tabbed-box
          tabset
            tab(heading="{{ 'GLOBAL.DISCUSSION' | translate }}")
              .pad
                konzilo-comments(ng-model="target.adminComments")
            tab(heading="{{'GLOBAL.NOTES' | translate}}")
              .pad
                markdown-editor(ng-model="target.adminNotes")
