.clipboard-articles
  .box.pad
    .articles.unscheduled
      .inner
        div(kntnt-add-article, article-created="articleCreated")
        a.row-item(ng-repeat="article in unscheduled"
          href="{{link(article)}}"
          data-id="{{article._id}}"
          ui-jq="draggable"
          ui-options="draggableOptions")
            span(class="article-state {{article.state}}")
            span {{article.title}}
            button.btn-link.clipboard-remove(ng-click="removeFromClipboard(article)")
              span {{'GLOBAL.HIDE' | translate}}

    .scheduled
      .inner
        .articles
          .group.date-hidden(
            ui-jq="droppable"
            ui-options="droppableOptions"
            data-date="{{prevDate}}",
            ng-show="prevDate")
            .top
              h2 {{ prevDate }}
            .content

        .articles.sortable(ui-sortable="options", ng-model="dates")
          .group(ng-repeat="(index, date) in dates", ui-jq="droppable", ui-options="droppableOptions", data-date="{{date}}")
            .top
              h2 {{ date }}
              button.btn-link.pull-right.calendar-btn(ng-click="toggleDatePicker(date)")
                i.icon-calendar
              .picker(ng-show="datePickerShown(date)", ng-model="datePickerValues[index]", ng-change="newDate(index, date)")
                datepicker(min="today")

            .content
              a.row-item(ng-class="activeArticle(article)",
                ui-jq="draggable",
                data-id="{{article._id}}",
                href="{{link(article)}}",
                ng-repeat="article in clipboard[date]")
                span(class="article-state {{article.state}}")
                span() {{article.title}}
                button.btn-link.clipboard-remove(ng-click="removeFromClipboard(article)")
                    span {{'GLOBAL.HIDE' | translate}}
        .articles
          .group.date-hidden(
            ui-jq="droppable"
            ui-options="droppableOptions"
            data-date="{{nextDate}}")
            .top
              h2 {{ nextDate | placeholder: "Utan publiceringsdatum" }}
          .content
