.clipboard-articles
  .box.pad
    .articles.unscheduled
      .inner
        div(kntnt-add-article, article-created="articleCreated")
        a.row-item(ng-repeat="article in unscheduled"
          href="{{link(article)}}"
          data-id="{{article._id}}"
          ui-jq="draggable"
          ui-options="draggableOptions")
            span(class="article-state {{article.state}}")
            span {{article.title}}
            button.btn-link.clipboard-remove(ng-click="removeFromClipboard(article)")
              span {{'GLOBAL.HIDE' | translate}}

    .scheduled
      .inner
        .articles.sortable
          div(ng-repeat="(index, date) in dates")
            .group(ng-show="showPrefix(index)", ui-jq="droppable", ui-options="newDateDroppable", data-index="{{index}}", ng-class="{ empty: !toBeScheduled[index] }")
              .top
                .picker(ng-change="newDate(index, date)", ng-model="toBeScheduledDate[index]", ng-change="changeUnscheduledDate(index)")
                  datepicker(min="today")
              .content
                .empty-text(ng-show="!toBeScheduled[index]") Nytt datum
                .row-item(ng-repeat="article in toBeScheduled[index]")
                  span(class="article-state {{article.state}}")
                  span {{article.title}}

            .group(ui-jq="droppable", ui-options="droppableOptions", data-date="{{date}}")
              .top
                h2 {{ date }}
                button.btn-link.pull-right.calendar-btn(ng-click="toggleDatePicker(date)")
                  i.icon-calendar
                .picker(ng-show="datePickerShown(date)", ng-model="datePickerValues[index]", ng-change="newDate(index, date)")
                  datepicker(min="today")

              .content
                a.row-item(ng-class="activeArticle(article)",
                  ui-jq="draggable",
                  data-id="{{article._id}}",
                  href="{{link(article)}}",
                  ng-repeat="article in clipboard[date]")
                  span(class="article-state {{article.state}}")
                  span {{article.title}}
                  button.btn-link.clipboard-remove(ng-click="removeFromClipboard(article)")
                      span {{'GLOBAL.HIDE' | translate}}
        .fetchmore
          a(ng-click="nextPage()", ng-show="skip + 20  <= count") Hämta fler
